body {
	background-color: #fcd04b;
	font-family: 'Lato';
	color: white;
	text-align: center;
}

.btn {
	outline: none;
	border: none;
	cursor: pointer;
	display: block;
	position: relative;
	background-color: #fcad26;
	font-size: 16px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 25px 80px;
	margin: 0 auto;
	box-shadow: 0 6px #efa424;
	border-radius: 20px;
}

.btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.btn:active {
	box-shadow: none;
	top: 6px;
}
